body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* -------- HERO SECTION -------- */

.topContainer {
    background-color: #1F2937;
    color: white;
    padding: 20px 200px 100px 200px;
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 20px;
}

.item {
    font-size: 18px;
    color: #E5E7EB;
}

/* hero body */
.hero {
    display: flex;
    margin-top: 80px;
    gap: 40px;
}

.left {
    flex: 1;
}

.mainText {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.button {
    background-color: #3882F6;
    width: 120px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagePlaceholder {
    background-color: #6B7280;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------- INFORMATION SECTION -------- */

.mediumContainer {
    text-align: center;
    padding: 50px 0;
}

.subtitle {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
}

.information {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.square {
    width: 160px;
    text-align: center;
}

.icon {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.alt {
    margin-top: 10px;
    font-size: 14px;
    color: #4B5563;
}

/* -------- QUOTE SECTION -------- */

.bottomContainer {
    background-color: #E5E7EB;
    padding: 100px 300px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    margin-top: 20px;
    text-align: right;
    font-size: 24px;
}

/* -------- CTA SECTION -------- */

.footer {
    padding: 80px 200px;
}

.cta {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call {
    font-size: 22px;
    font-weight: bold;
}

.small {
    font-size: 14px;
    color: #E5E7EB;
}

.footerButton {
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
